<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="GlobalConsole" type="log4net.Appender.ColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%5level] [%thread] (%logger): %message%newline" />
    </layout>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White, HighIntensity" />      
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Yellow, HighIntensity" />
      <backColor value="Red" />
    </mapping>
  </appender>

  <appender name="EmailConsole" type="log4net.Appender.ColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] Email Found: %message%newline" />
    </layout>
    <mapping>
      <level value="INFO" />
      <foreColor value="Green, HighIntensity" />
    </mapping>
  </appender>

  <appender name="EmailFile" type="log4net.Appender.FileAppender">
    <file value="emails.log" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>

  <appender name="UrlConsole" type="log4net.Appender.ColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%5level] [%thread] (%logger): %message%newline" />
    </layout>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Yellow, HighIntensity" />
      <backColor value="Red" />
    </mapping>
  </appender>

  <appender name="UrlFile" type="log4net.Appender.FileAppender">
    <file value="urls.log" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%5level] [%thread] (%logger): %message%newline" />
    </layout>
  </appender>

  <appender name="GlobalRollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="global.log" />
    <appendToFile value="true" />
    <maximumFileSize value="10240KB" />
    <maxSizeRollBackups value="2" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%5level] [%thread] (%logger): %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="GlobalConsole" />
    <appender-ref ref="GlobalRollingFile" />
  </root>

  <logger name="emails">
    <appender-ref ref="EmailConsole" />
    <appender-ref ref="GlobalRollingFile" />
    <appender-ref ref="EmailFile" />
  </logger>

  <logger name="urls">
    <level value="WARN" />
    <appender-ref ref="UrlConsole" />
    <appender-ref ref="UrlFile" />
  </logger>

  <logger name="Baby.UrlFiltering.URLFilter">
    <level value="WARN" />
  </logger>

  <logger name="Baby.UrlFiltering.IUrlBlacklist">
    <level value="WARN" />
  </logger>

  <logger name="Baby.Data.IUrlProvider">
    <level value="WARN" />
  </logger>

  <logger name="Baby.Crawler.WebpageScraper">
    <level value="WARN" />
  </logger>

  <logger name="Baby.Crawler.PageFetching.IAsyncWebpageProvider">
    <level value="WARN" />
  </logger>
</log4net>